.user-info{
    margin: 10px 10px 0 10px;
    .table-img{
        height: 42px;
        width: 42px;
        margin: 0 auto;
    }
    .table-click{
        display: flex;
        justify-content:space-around
    }
    
}
